[submodule "coding_stds/CodingStandardsRef"]
	path = coding_stds/CodingStandardsRef
	url = https://github.com/psi16181918161phi/CodingStandardsRef.git
[submodule "voiceshield"]
	path = voiceshield
	url = https://github.com/taqi-ul-hassan/voiceshield.git
